<div class="row">
    <div class="col m-2 py-1 px-2 bg-secondary text-light border border-secondary rounded shadow font-weight-bold">
    <div class="row">
        <div class="col-sm-1 m-2 pl-sm-1">Options</div>
        <!--  vulnerability minimum level selection -->
        <div class="col-sm-4 m-2 pl-sm-1 font-weight-normal">&nbsp;Level:
            <div class="row">
                <div id="level_flag" class="pl-3 btn-group font-weight-normal">
                    <input type="radio" class="flags-radio" id="level_critical" name="level" value="critical" autocomplete="off">
                    <label for="level_critical">critical</label>
                    <input type="radio" class="flags-radio" id="level_high" name="level" value="high">
                    <label for="level_high">high</label>
                    <input type="radio" class="flags-radio" id="level_medium" name="level" value="medium">
                    <label for="level_medium">medium</label>
                    <input type="radio" class="flags-radio" id="level_low" name="level" value="low">
                    <label for="level_low">low</label>
                    <input type="radio" class="flags-radio" id="level_none" name="level" value="none" checked="checked">
                    <label for="level_none">none</label>
                </div>
            </div>
        </div>
        <!-- report format (xlsx, docx, csv) selection -->
        <div class="col-sm-3 m-2 pl-sm-1 font-weight-normal">Format:
            <div class="row">
                <div id="format_flag" class="pl-3 btn-group font-weight-normal">
                    <input type="radio" class="flags-radio" id="format_xlsx" name="format" value="xlsx" checked="checked">
                    <label for="format_xlsx">xlsx</label>
                    <input type="radio" class="flags-radio" id="format_docx" name="format" value="docx">
                    <label for="format_docx">docx</label>
                    <input type="radio" class="flags-radio" id="format_csv" name="format" value="csv">
                    <label for="format_csv">csv</label>
                </div>
            </div>
        </div>
        <!-- report type (by host and its vulnerabilities or by vulnerability and its hosts) selection -->
        <div class="col-sm-2 m-2 pl-sm-1 font-weight-normal">Report by:
            <div class="row">
                <div id="reporttype_flag" class="pl-3 btn-group font-weight-normal">
                    <input type="radio" class="flags-radio" id="reporttype_vulnerability" name="reporttype" value="vulnerability" checked="checked">
                    <label for="reporttype_vulnerability">vulnerability</label>
                    <input type="radio" class="flags-radio" id="reporttype_host" name="reporttype" value="host">
                    <label for="reporttype_host">host</label>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
