<!-- Network, Regex and CVE Filters Box -->
<div class="row">
    <div class="col-md mx-2 p-2 bg-secondary rounded text-light">
        <div class="row">
            <div class="col-md font-weight-bold">
                Filters
            </div>
        </div>
        <div class="row">
            {%- for filter_name in ['Networks', 'Regex', 'CVE'] %}
            <div class="col-md px-4 py-2">
                <div class="row">
                    <div class="col-md-12 py-1 bg-white text-secondary text-center">
                        {{ filter_name }}
                    </div>
                </div>
                {%- set filter_id = filter_name.lower() %}
                <div class="row">
                    {%- for action in ['includes', 'excludes'] %}
                    <div class="col-sm-6 p-0 border border-secondary bg-secondary text-light"  style="height: 200px; font-size: .7rem;">
                        <div class="col">
                            <div class="row">
                                <div class="col-md p-0">
                                    {{ action.capitalize() }}:
                                </div>
                                <div class="col-md ml-auto pr-0 text-right">
                                    <input type="image" class="icon-white" title="remove all filters" data-toggle="tooltip" data-placement="top"
                                        src={{ url_for('.static', filename='images/x-circle-fill.svg') }} 
                                        id="erase_{{ filter_id }}_{{ action }}" name="erase_{{ filter_id }}_{{ action }}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div id="load_{{ filter_id }}_{{ action }}" class="col mh-100 p-2 bg-white mh-100 text-secondary align-middle"
                                     style="max-height: 180px; overflow-y: auto; height: 180px; font-size: 0.7rem; overflow-x: hidden;">
                                    <table style="height: 100%;">
                                      <tbody><tr><td class="align-middle">
                                    <form id="{{ filter_id }}_{{ action }}" class="dropzone dz-clickable">
                                         <div class="dz-default dz-message p-0" data-dz-message="">
                                             <span>Drop a .txt file with one {{ filter_id }} filter per line or <em>click to browse</em>.</span>
                                         </div>
                                    </form> 
                                      </td></tr></tbody>
                                    </table>
                                </div>
                                <div id="show_{{ filter_id }}_{{ action }}" class="col mr-auto mh-100 p-2 bg-white border-2 border-success" 
                                     style="max-height: 180px; overflow-y: auto; height: 180px; font-size: 0.7rem; overflow-x: hidden; display: none;">
                                    upload files here
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
