	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>OpenVAS Report Generator</title>
	    <link rel="shortcut icon" href={{ url_for('.static', filename='images/rex.ico') }} type="image/x-icon" />
	    <link rel="stylesheet" type="text/css" href={{ url_for('.static', filename='styles/styles.css') }} media="screen" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	    <script type="text/javascript">
		    const WAITING_IMAGE_URL = '{{ url_for('.static', filename='images/i8_waiting.gif') }}'
			const IMAGES_URL_BASE = '{{ url_for('.static', filename='images') }}';		


	    </script>
	    <script type="text/javascript" src={{ url_for('.static', filename='js/scripts.js') }}></script>
	    {% include 'javascript.html' %}
	</head>
