<script type="text/javascript">
$(document).ready(function (e) {

/* events for uploading and erasing input xml reports from openvas */    
    Dropzone.options.inputfiles = {
        url: '/api/xml_reports',
        acceptFiles: '.xml',
        maxFilesize: 200,
        maxFiles: 10,
        uploadMultiple: true,
        parallelUploads: 10,
        previewTemplate: '<div></div>',
        init: function() {
            this.on('success', function(file, response) {
                show_response('inputfiles', response);
            });
            this.on('complete', function() {
                this.removeAllFiles();
            });
            this.on('sending', function () {
                show_waiting('inputfiles');
            });
        }
    };
    $('#inputfiles').dropzone();

    $('#erase_inputfiles').on('click', function() {
        erase_uploaded_files('/api/erase_xml_reports', 'inputfiles', '/api/xml_reports'); 
    });
    
/* events for uploading and erasing filters */
{%- for filter_id in ('networks', 'regex', 'cve') %}
{%- for action in ('includes', 'excludes') %}
{%- set input_field = (filter_id, action) | join('_') | lowerCamelCase %};

    Dropzone.options.{{ input_field }} = {
        url: '/api/{{ filter_id }}_{{ action }}?input_field_name={{ filter_id }}_{{ action }}',
        acceptedFiles: '.txt',
        maxFileSize: 1,
        maxFiles: 1,
        parallelUploads: 1,
        uploadMultiple: true,
        previewTemplate: '<div></div>',
        init: function() {
            this.on('success', function(file, response) {
                show_response('{{ filter_id }}_{{ action }}', response);
            });
            this.on('complete', function() {
                this.removeAllFiles();
            });
        }
    };
    $('#{{ filter_id }}_{{ action }}').dropzone();

    $('#erase_{{filter_id }}_{{action}}').on('click', function() {
        erase_filter('/api/erase_{{ filter_id }}_{{ action }}', '{{ filter_id }}_{{ action }}');
    })
    
{%- endfor %}
{%- endfor %}

/* events to save the flags when changed */
{%- for flag in ('level', 'reporttype', 'format') %}
    $('input:radio[name={{ flag }}]').on('click', function() {
        set_flag('/api/set_{{ flag }}_flag', '{{ flag }}');
    });
{%- endfor %}

/* events to load, save and clear the configuration */
    $('#load_configuration').on('change', function() {
        upload_configuration('/api/upload_configuration', 'load_configuration', 'msgbox');
    });

    $('#clear_configuration').on('click', function() {
        clear_configuration('/api/clear_configuration');
    });

/* event to generate a report and download it to user */
   $('#generate_report').on('click', function() {
       generate_report('msgbox');
   });
    
/* event to change bootswatch theme (from bootstrap_flask) */
   $('#other_theme').on('click', function() {
       other_theme();
   });

});

</script>
