<!DOCTYPE html>
<html>
    {% include 'head.html' %}
<body>
    <!-- early load images -->
	<div style="display:none;"><img src="{{ url_for('.static', filename='images/waiting.gif') }}"></div>
	<div style="display:none;"><img src="{{ url_for('.static', filename='images/if_format_xlsx.png') }}"></div>
	<div style="display:none;"><img src="{{ url_for('.static', filename='images/if_format_docx.png') }}"></div>
	<div style="display:none;"><img src="{{ url_for('.static', filename='images/if_format_csv.png') }}"></div>
	<div class="container">
        <div class="navbox">OpenVAS Report Generator</div>
		<!-- CONFIG FILES MENU -->
		{% include 'config_file.html' %}
        <!-- FLAGS -->
        {% include 'flags.html' %}
        <!-- FILTERS -->
		<div class="box">
            <div class="navbox">Filters:</div>
            <!-- Network Filters Box -->
            {%- with filter_name='Networks' %}
                {%- with filter='networks' %}
                    {%- include 'filter_box.html' %}
                {% endwith %}
            {% endwith %}
            <!-- Vulnerability Name Regex Filters Box -->
            {% with filter_name='REGEX' %}
                {% with filter='regex' %}
                    {% include 'filter_box.html' %}
                {% endwith %}
            {% endwith %}
            <!-- CVE Number Filters Box -->
            {% with filter_name='CVE' %}
                {% with filter='cve' %}
                    {% include 'filter_box.html' %}
                {% endwith %}
            {% endwith %}
        </div>
        <!-- area for selecting reports to upload -->
        {% include 'xml_files.html' %}
		<!-- generate button -->
		<div id="generate_box" class="generatecontainer">
		  <div id="generate" class="generatebox">
<!--             <span id="generatebutton"> -->
				    <input type="image" title="Generate Report" 
					       src={{ url_for('.static', filename='images/if_format_xlsx.png') }} 
						   id="generate_report" name="generate_report" class="generateimgbutton" />
<!--			 </span> -->
		  </div>
		</div>  
		<!-- a decorative fixed bottom bar -->
		<div class="bottombar"></div>
	</div>
</body>
</html> 
