{% from 'bootstrap/utils.html' import render_icon %}
<div class="row">
    <div class="col-4 ml-2 mb-2 mt-2 mr-0 p2 pt-2 border border-secondary bg-secondary rounded-left text-light">
        <div class="row">
            <div class="col pb-2 m-0 font-weight-bold">
                XML Reports
            </div>
            <div class="col m-0 text-right">
                <input type="image" class="icon-white" title="remove xml reports" src={{ url_for('.static', filename='images/x-circle-fill.svg') }} id="erase_inputfiles" name="erase_inputfiles" />
            </div>
        </div>
        <div class="row">
            <div id="load_inputfiles" class="col mh-100 p-2 bg-white mh-100 align-middle text-secondary"
                 style="max-height: 120px; overflow-y: auto; height: 120px; font-size: 0.7rem;">
                 <form id="inputfiles" class="dropzone dz-clickable">
                     <div class="dz-default dz-message" data-dz-message="">
                         <span>Drop up to 10 .xml files here to upload or <em>click to browse</em>.</span>
                     </div>
                 </form>
            </div> <!-- show_uploaded_files(e, "/api/list_xml_reports", "inputfiles"); -->
            <div id="show_inputfiles" class="col mr-auto mh-100 p-2 bg-white text-secondary"
                 style="max-height: 120px; overflow-y: auto; height: 120px; font-size: 0.7rem; display: none;">
                 no files uploaded
            </div>
        </div>
    </div>
    <div class="col-4 ml-auto ml-4 mb-2 mt-2 mr-2 p2 pt-2 border border-secondary bg-secondary rounded-right text-light">
        <div class="row">
            <div id="generate" class="col-11 m-0  pb-2 font-weight-bold">
                Convert {{ render_icon('lightning-fill', '1em', 'white') }}
            </div>
        </div>
        <div class="row">
            <div class="col-12  bg-white text-center disabled" style="max-height: 120px; height: 120px; font-size: 0.7rem; ">
                <div class="generatebox"> 
                    <input type="image" title="Generate Report" 
                         src={{ url_for('.static', filename='images/format-xlsx.svg') }} 
                         id="generate_report" name="generate_report" class="generateimgbutton" />
                </div>
            </div>
       </div>
    </div>  
</div>
<p />
<p />